/* If you want the image to scale both up and down on responsiveness */
body {
	background: #000000;
}

.container {
	text-align: center;
	margin-top: -6vw;
}

.container img {
	width: 100%;
	height: auto;
}


#count {
	color: #15364F;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 6vw;
	position: relative;
	top: 18vw;
}